<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/estilos.css">
    <title>SKITEC COMMERCE!</title>
</head>

<body class="fundo_site">

    <div style="text-align:center">
        <h1>
            <font color="#864086">SKITEC COMMERCE
        </h1>
        </font>
    </div>
    <p>
    <h2>
        <font color="#864086">Bem vindo a loja!
    </h2>
    </font>
    </p>
    <p><a href={{url_for("usuario")}}> Criar Conta</a></p>
    <p><a href={{url_for("endereco")}}> Cadastrar Endereço</a></p>
    <p><a href={{url_for("perguntas")}}> Perguntas</a></p>
    <p><a href={{url_for("anuncio")}}> Adicionar Anúncio</a></p>
    <p><a href={{url_for("comprar")}}> Comprar Anúncio</a></p>
    <p><a href={{url_for("relatorios")}}> Emitir Relatórios</a></p>
    <p><a href={{url_for("logout")}}> Logout</a></p>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>

</html>